<%= form_with(model: expense_category) do |form| %>
  <% if expense_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense_category.errors.count, "error") %> prohibited this expense_category from being saved:</h2>
      <ul>
        <% expense_category.errors.each do |error| %>
          <li class='bg-yellow-100 my-2'><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-10">
    <%= form.label :name, class: 'text-sm' %>
    <%= form.text_field :name, class: 'border rounded py-1 px-2' %>
  </div>
  <div class="actions">
    <%= form.submit class: 'rounded bg-yellow-200 hover:bg-yellow-300 py-1 px-3' %>
  </div>
<% end %>