
<p>
  <strong>User:</strong>
  <%= @expense.user_id %>
</p>

<p>
  <strong>Expense category:</strong>
  <%= @expense.expense_category_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<div class='flex justify-center mt-10 align-middle gap-3'>
  <%= link_to 'Edit', edit_expense_path(@expense), class: 'hover:bg-yellow-200' %> |
  <%= link_to 'Back', expenses_path, class: 'hover:bg-yellow-200' %>
</div>
