<!DOCTYPE html>
<html>
<head>
  <title>Money</title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag 'application', media: 'all',
                                                                    'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <%=
  stylesheet_link_tag "application" %>
</head>
<body>
<% if notice %>
  <p id="notice" class="w-1/3 p-4 mx-auto my-4 border rounded bg-yellow-50"><%= notice %></p>
<% end %>
<div class='container px-14'>
  <% unless user_signed_in? %>
    <div class='flex flex-col justify-center h-screen text-center align-middle'>
      <%= yield %>
    </div>
  <% else %>
    <div class='grid grid-cols-3 gap-10'>
      <div class='flex flex-col justify-center h-screen text-center align-middle'>
        <h1 class='mb-4 text-xl font-medium'>Menu</h1>
        <ul>
          <li class='py-2 rounded hover:bg-yellow-50'>
            <%= link_to 'home', root_path, class: "#{"text-red-500" if current_page?(root_path)}" %>
          </li>
          <li class='py-2 rounded hover:bg-yellow-50'>
            <%= link_to 'incomes', incomes_path, class: "#{"text-red-500" if current_page?(incomes_path)}" %>
          </li>
          <li class='py-2 rounded hover:bg-yellow-50'>
            <%= link_to 'expenses', expenses_path, class: "#{"text-red-500" if current_page?(expenses_path)}" %>
          </li>
          <li class='py-2 rounded hover:bg-yellow-50'>
            <%= link_to 'income categories', income_categories_path, class: "#{"text-red-500" if current_page?(income_categories_path)}" %>
          </li>
          <li class='py-2 rounded hover:bg-yellow-50'>
            <%= link_to 'expense categories', expense_categories_path, class: "#{"text-red-500" if current_page?(expense_categories_path)}" %>
          </li>
        </ul>
      </div>
      <div class='flex flex-col justify-center h-screen text-center align-middle col-span-2'>
        <%= yield %>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>
